.img-logo {
    width: 100%;
}

.logo {
    width: 120px;
}

.link-logo {
    width: 100%;
    display: block;
}

.navigation--horizontal {
    margin-left: 40px;
}

.navigation-horizontal {
    display: flex;
    gap: 40px;
    margin-bottom: 0;
    padding-left: 0;
    height: 100px;
}

.menu-item {
    list-style: none;
    height: 100%;
    align-items: center;
    display: flex;
}

.menu-item__link {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

.menu-item__link:hover,
.ti-hover:hover {
    text-decoration: none;
    color: #fff;
}

.header-icon-wrapper {
    display: flex;
    gap: 20px;
    margin-left: auto;
    width: 160px;
}

.ti-style {
    font-size: 20px;
}

.header {
    position: relative;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid #eee;
    display: none;
    z-index: 999;
    padding: 20px 0;
}

.has-submenu:hover .submenu {
    display: block;
}

.has-submenu:hover .submenu-promotion {
    display: block;
}

.submenu__list {
    list-style: none;
    margin: 0 auto;
    padding: 0 40px;
    width: 1200px;
    max-width: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.submenu__col {
    list-style: none;
}

.submenu__col ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.submenu__col a {
    text-decoration: none;
    color: #000;
}

.submenu__item--main {
    font-weight: 600;
    text-transform: uppercase;
}

.submenu__item {
    margin: 10px 0 10px 0;
}

.submenu__item:hover {
    transform: translateX(5px);
    transition: 0.5s;
}

.submenu__item:hover a:hover {
    text-decoration: none;
}

.submenu-promotion {
    width: 250px !important;
    height: auto;
}

.submenu_item {
    list-style: none;
    margin-left: 20px;
    margin-top: 20px;
}
.submenu_item:hover { 
    transform: translateX(5px);
    transition: 0.5s;
}

.submenu__link {
    color: #000;
}

.submenu__link:hover {
    text-decoration: none;
}